# List Comprehensions

In [5]:
x = 1
n = 3

[i for i in range(x+1) if i != n]

[0, 1]

In [6]:
y = 1

[j for j in range(x+1) if j != n]

[0, 1]

In [7]:
z = 2

[k for k in range(z+1) if k != n]

[0, 1, 2]

In [8]:
x = int(input('Enter a value: '))
y = int(input('Enter a value: '))
z = int(input('Enter a value: '))
n = int(input('Enter a value: '))
    
output = [[i, j, k] for i in range(x+1) for j in range (y+1) for k in range(z+1) if i+j+k != n]
    
print(output)

Enter a value: 1
Enter a value: 1
Enter a value: 2
Enter a value: 3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

# Find the Runner-Up Score!

In [23]:
n = 5

arr = [2, 3, 6, 6, 5]

arr1 = sorted(set(arr))
print(x)
print(x[-2])

[2, 3, 5, 6]
5

In [27]:
n = int(input())
arr = map(int, input().split())
arr1 = sorted(set(arr))

for i in arr1:
    if i == arr1[-2]:
        print(i)

5

# Finding the percentage

In [55]:
mark = {'mallika' : [52,56,60]}

for i in mark:
    print(i)
    print(mark[i])
    print(sum(mark[i])/len(mark[i]))

mallika
[52, 56, 60]
56.0

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
query_score=student_marks[query_name]
avg =(sum(query_score)/len(query_score))
print("{0:.2f}".format(avg))

# Lists

In [63]:
arr = []
    
# insert(index, value)
arr.insert(0,5)
print(arr)
arr.insert(1, 10)
print(arr)
arr.insert(0, 6)
print(arr)

#remove(value)
#append(by default value added at last index)
arr.remove(6)
print(arr)
arr.append(9)
print(arr)
arr.append(1)
print(arr)
arr.sort()
print(arr)

#pop(delete value at last index)
arr.pop()
print(arr)
arr.reverse()
print(arr)

[5]
[5, 10]
[6, 5, 10]
[5, 10]
[5, 10, 9]
[5, 10, 9, 1]
[1, 5, 9, 10]
[1, 5, 9]
[9, 5, 1]

# Tuples

In [65]:
tuple(integer_list)

(1, 2)

In [66]:
hash(tuple(integer_list))

-3550055125485641917

In [70]:
n = int(input('Enter a number: '))
integer_list = map(int, input().split())
    
print(hash(tuple(integer_list)))

Enter a number: 2
1 2
-3550055125485641917

# Introduction to Sets

In [71]:
def average(array):
    
    array = set(array)
    
    avg = (sum(array))/(len(array))
    
    return avg
    
n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

# No Idea!

In [79]:
arr = [1,5,3]

A = {3,1}
B = {5,7}

counter = 0

for i in arr:
    print(i)
    if i in A:
        counter += 1
    elif i in B:
        counter -= 1
        
print(counter)

1
5
3
1

In [72]:
n,m = map(int, input().split())

arr = list(map(int, input().split()))

A = set(map(int, input().split()))
B = set(map(int, input().split()))

counter = 0

for i in arr:
    if i in A:
        counter += 1
    elif i in B:
        counter -= 1
        
print(counter)

3 2
1 5 3
3 1
5 7
1

# Symmetric Difference

In [81]:
a = {2, 4, 5, 9}

b = {2, 4, 11, 12}

x = a.difference(b)
print(x)
y = b.difference(a)
print(y)
z = x.union(y)
print(z)

for i in sorted(z):
    print(i)

{9, 5}
{11, 12}
{9, 11, 12, 5}
5
9
11
12

In [ ]:
M = int(input())

a = map(int, input().split())

N = int(input())

b = map(int, input().split())

A = set(a)
B = set(b)

x = A.difference(B)
y = B.difference(A)
z = x.union(y)

for i in sorted(z):
    print(i)

# Set .add()

In [89]:
a = ('UK', 'China','USA', 'France', 'New Zealand', 'UK', 'France')
Country = set(a)
print(len(Country))

5

In [ ]:
N = 7
Country = set()

for i in range(1,N+1):
    a = ('UK', 'China','USA', 'France', 'New Zealand', 'UK', 'France')
    Country.add(a)
    
print(len(Country))

# Set .discard(), .remove() & .pop()

In [ ]:
n = int(input())
s = set(map(int, input().split()))
m = int(input())

for i in range(m):
    
    s1 = list(input().split())
    
    if s1[0] == 'pop':
        s.pop()
    elif s1[0] == 'remove':
        s.remove(int(s1[1]))
    elif s1[0] == 'discard':
        s.discard(int(s1[1]))
    
print(sum(s))

# Set .union() Operation

In [ ]:
n = int(input())
a = set(map(int, input().split()))
m = int(input())
b = set(map(int, input().split()))

x = a.union(b)

print(len(x))

# Set .intersection() Operation

In [ ]:
n = int(input())
a = set(map(int, input(), split()))
m = int(input())
b = set(map(int, input(), split()))

x = a.intersection(b)

print(len(x))

# Set .difference() Operation

In [ ]:
n = int(input())
a = set(map(int, input().split()))
m = int(input())
b = set(map(int, input().split()))

x = a.difference(b)

print(len(x))

# Set .symmetric_difference() Operation

In [ ]:
n = int(input())
a = set(map(int, input().split()))
m = int(input())
b = set(map(int, input().split()))

x = a.symmetric_difference(b)

print(len(x))

# Set Mutations

In [ ]:
A = int(input())
s = set(map(int, input().split()))
N = int(input())

for i in range(N):
    
    (p, q) = input().split()
    
    s1 = set(map(int, input().split()))
    
    if p == 'intersection_update':
        s.intersection_update(s1)
    elif p == 'update':
        s.update(s1)
    elif p == 'symmetric_difference_update':
        s.symmetric_difference_update(s1)
    elif p == 'difference_update':
        s.difference_update(s1)

print(sum(s))

# The Captain's Room

In [ ]:
K = int(input())

list1 = list(map(int, input().split()))

s1 = set()
s2 = set()

for i in list1:
    if i in s1:
        s2.add(i)
    else:
        s1.add(i)
        
s = s1.difference(s2)
print(*s)

# Check Subset

In [ ]:
for i in range(int(input())):
    
    x = int(input())
    s1 = set(map(int, input().split()))
    y = int(input())
    s2 = set(map(int, input().split()))
    if len(s1 - s2) == 0:
        print("True")
    else:
        print("False")

# Check Strict Superset

In [ ]:
a = set(map(int, input().split()))
n = int(input())

is_super_set = True

for _ in range(n):
        
    b = set(map(int, input().split()))

    if len(b.intersection(a)) != len(b):
        is_super_set = False

print(is_super_set)